Label {
    font-size: 20;
    font-weight: bold;
}

.main-container {
    width: auto;
    height: 1000;
    flex-direction: row;
}

.left-panel {
    flex-grow: 0.7;
    background-color: rgb(68, 138, 255);
}

.right-panel {
    flex-grow: 0.3;
    background-color: rgb(168, 138, 255);
}